* {
  color: white;
}

body {
  background-color: black;
}

.details__banner {
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.details {
  padding: 20px;
}

.cast__image {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.cast__slide {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;

  border-radius: 1vw;
}

.general {
  background-color: rgba(63, 60, 60, 0.8);
  border-radius: 20px;
  margin: 75px 50px;
  padding: 20px;
  height: auto;
}

.general img {
  float: left;
  padding-right: 10px;
}
