li {
  list-style: none;
}

input {
  color: black;
  font-weight: 600;
}

.wrapper {
  background-color: black;
  height: 100vh;
}
.search__input {
  padding-top: 50px;
  background-color: black;
  margin-left: 20px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
